@defer (when orders !== null) {
  @if (orders!.length > 0) {
    <div class="orders-list">
      @for (order of orders; track order.id) {
        <p-card class="order-card" 
        [style]="order.isArchived ? { 'background-color': '#b1afaf' } : {}"
       >
          <div class="order-header">
            <span class="order-id">
              #{{ order.id }} - {{ order.isArchived ? 'ARCHIVED' : '' }}
            </span>

            <span class="order-status status-{{ order.status }}">
              {{ order.status }}
            </span>
          </div>

          <div class="order-details">
            <div>
              <strong>Field:</strong> {{ order.field.identifierName }}
              <p-button (click)="showDialog(order.id)" label="Show" />
              <p-dialog
                header="IdentifierName: {{order.field.identifierName}}"
                [modal]="true"
                [(visible)]="visibles[order.id]"
                (onHide)="onDialogHide(order)"
                (onShow)="onDialogShow(order.id)"
              >
              <div><strong>CommonName:</strong> {{ order.field.commonName}}</div>
              <div><strong>Area in hectares:</strong> {{ order.field.areaHectares}}</div>
              <div><strong>Crop:</strong> {{ order.field.cropType}}</div>
                <div
                  id="map-{{ order.id }}"
                  style="height: 400px; width: 400px"
                ></div>
              </p-dialog>
            </div>
            <div><strong>Combine:</strong> {{ order.combine.model }}</div>
            <div>
              <strong>Order date:</strong>
              {{ order.orderDate | dateFormatPipe }}
            </div>
            <div>
              <strong>Scheduled:</strong>
              {{ order.scheduledDate | dateFormatPipe }}
            </div>
            <div>
              <strong>Straw processing:</strong>
              @if (order.strawProcessingMethod === "CHOP") {
                Straw is going to be chopped
              } @else {
                Straw is going to be left on the field intact
              }
            </div>
            <div>
              <strong>Estimated Price:</strong> {{ order.estimatedPrice }} PLN
            </div>
            <!-- <div><strong>Total Price:</strong> {{ order.totalPrice }}</div> -->
          </div>
          @if(!order.isArchived){
            <p-button
              (click)="deleteOrder(order.id)"
              severity="danger"
              label="Delete"
            />
            <p-button
              (click)="updateOrder(order.id)"
              severity="info"
              label="Edit"
            />
          }
        </p-card>
      }
    </div>
  } @else {
    <div class="empty-container">
      <p-card class="empty-card"> There are no orders. </p-card>
    </div>
  }
} @loading (minimum 1s) {
  <div class="empty-container">
    <p-card class="empty-card">
      Loading orders.
      <i class="pi pi-spin pi-spinner"></i
    ></p-card>
  </div>
} @placeholder {
  <div class="empty-container">
    <p-card class="empty-card"> <i class="pi pi-spin pi-spinner"></i></p-card>
  </div>
}
