@use  '../../../shared/styles/sharedStyles.scss' as shared;

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f5f6fa;
    padding: 2rem;
  }

@include shared.card-form-styles;
p-card {
  .custom-option {
    display: flex;
    flex-direction: column;
  }

  .main-text {
    font-size: 14px;
    font-weight: 500;
  }

  .sub-text {
    font-size: 12px;
    color: gray;
  }

  .inputs.area-field {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    button[pButton] {
      height: 2.5rem;
      padding: 0 2rem;
    }
  }

  form {
    padding: 1.5rem;

    label {
      font-weight: 500;
      margin-bottom: 0.3rem;
      display: block;
      color: #34495e;
    }

    .p-inputtext,
    .p-inputnumber,
    .p-dropdown,
    .p-select,
    .p-datepicker {
      width: 100% !important;
      border-radius: 0.5rem;
    }

    button[pButton] {
      display: block;
      width: 100% !important;
      margin-top: 1rem;
      padding: 0.75rem 2rem;
      font-weight: 600;
      border-radius: 0.5rem;
    }

    .inputs {
      padding-top: 0.4em;
      padding-bottom: 0.4em;
    }
  }
}
