<p-card header="Add new order">
  <form [formGroup]="form" class="p-fluid grid">
    <label for="selectedCombine" class="block mb-2"> Combine </label>
    <p-select
      formControlName="selectedCombine"
      [options]="combines"
      optionLabel="model"
      optionValue="id"
      placeholder="Select a combine"
      [invalid]="f['selectedCombine'].invalid && f['selectedCombine'].touched"
    >
      <ng-template let-combine pTemplate="options">
        <div class="custom-option">
          <div class="main-text">{{ combine.model }}</div>
          <div class="sub-text">{{ combine.baseHaPerHour }} ha/h</div>
        </div>
      </ng-template>

      <ng-template let-combine pTemplate="selectedItem">
        <div class="custom-option">
          <div class="main-text">{{ combine.model }}</div>
          <div class="sub-text">{{ combine.baseHaPerHour }} ha/h</div>
        </div>
      </ng-template>
    </p-select>
    @if (f["selectedCombine"].invalid && f["selectedCombine"].touched) {
      <p-message severity="error" variant="simple" size="small">
        @if (f["selectedCombine"].errors?.["required"]) {
          Combine is required
        }
      </p-message>
    }

    <label for="selectedField" class="block mb-2"> Field </label>
    <p-select
      [options]="fields"
      formControlName="selectedField"
      optionLabel="name"
      optionValue="id"
      [filter]="true"
      filterBy="name"
      [showClear]="true"
      placeholder="Select a Field"
      [invalid]="f['selectedField'].invalid && f['selectedField'].touched"
    >
      <ng-template #selectedItem let-selectedOption>
        <div class="custom-option">
          <div class="main-text">{{ selectedOption.name }}</div>
          <div class="sub-text">{{ selectedOption.areaHectares }} ha</div>
        </div>
      </ng-template>
      <ng-template let-field #item>
        <div class="custom-option">
          <div class="main-text">{{ field.name }}</div>
          <div class="sub-text">{{ field.areaHectares }} ha</div>
        </div>
      </ng-template>
    </p-select>
    @if (f["selectedField"].invalid && f["selectedField"].touched) {
      <p-message severity="error" variant="simple" size="small">
        @if (f["selectedField"].errors?.["required"]) {
          Field is required
        }
      </p-message>
    }

    <label for="selectedDate" class="block mb-2"> Date of order </label>
    <p-datepicker
      formControlName="selectedDate"
      [iconDisplay]="'input'"
      [showIcon]="true"
      inputId="icondisplay"
      [minDate]="minDate"
      [maxDate]="maxDate"
      [readonlyInput]="true"
      [invalid]="f['selectedDate'].invalid && f['selectedDate'].touched"
    />
    @if (f["selectedDate"].invalid && f["selectedDate"].touched) {
      <p-message severity="error" variant="simple" size="small">
        @if (f["selectedDate"].errors?.["required"]) {
          Date is required
        }
      </p-message>
    }

    <label for="selectedStrawMethod" class="block mb-2">
      Straw proccesing
    </label>
    <p-selectbutton
      [options]="strawMethods"
      formControlName="selectedStrawMethod"
      optionLabel="label"
      optionValue="value"
      aria-labelledby="basic"
      unselectable = "true"
    />


    <div>
      <button
        pButton
        type="submit"
        (click)="onSubmit()"
        [disabled]="form.invalid"
      >
        Save
      </button>
    </div>
  </form>
</p-card>
