@use "../../../shared/styles/card-form-styles.scss" as shared;

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f5f6fa;
  padding: 2rem;
}

@include shared.card-form-styles;
p-card {
  .main-text {
    font-size: 14px;
    font-weight: 500;
  }

  .sub-text {
    font-size: 12px;
    color: gray;
  }

  form {
    .price {
      margin-top: 1rem;
    }
  }
}
