@use "../../../shared/styles/card-form-styles.scss" as shared;

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f5f6fa;
  padding: 2rem;
}
@include shared.card-form-styles;
p-card {
  .inputs.area-field {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    .p-inputnumber {
      flex: 1;
      height: 2.5rem;
      margin-top: 1rem;
    }
    button[pButton] {
      height: 2.5rem;
      margin-top: 0.5rem;
      padding: 0 2rem;
    }
  }
}
