<p-card header="Add new field">
  <form [formGroup]="form" class="p-fluid grid">
    <div class="col-12 md:col-6">
      <label for="name" class="block mb-2">Name</label>
      <input
        pInputText
        id="name"
        formControlName="name"
        placeholder="name"
        [invalid]="f['name'].invalid && f['name'].touched"
      />

      @if (f["name"].invalid && f["name"].touched) {
        <p-message severity="error" variant="simple" size="small">
          @if (f["name"].errors?.["required"]) {
            Name is required
          } @else if (f["name"].errors?.["maxlength"]) {
            Name must be less than 100 characters
          }
        </p-message>
      }
    </div>

    <div class="col-12 md:col-3">
      <label for="areaHectares" class="block mb-2">Area (ha)</label>
      <p-inputNumber
        inputId="areaHectares"
        formControlName="areaHectares"
        placeholder="..."
        [mode]="'decimal'"
        [minFractionDigits]="2"
        [maxFractionDigits]="2"
        [invalid]="f['areaHectares'].invalid && f['areaHectares'].touched"
      />
      @if (f["areaHectares"].invalid && f["areaHectares"].touched) {
        <p-message severity="error" variant="simple" size="small">
          @if (f["areaHectares"].errors?.["required"]) {
            Area in hectares is required
          } @else if (f["areaHectares"].errors?.["min"]) {
            Area must be greater than 0.01
          }
        </p-message>
      }
    </div>

    <div class="col-12 md:col-3">
      <label for="cropType" class="block mb-2">Crop Type</label>
      <p-select
        [options]="cropOptions"
        inputId="cropType"
        formControlName="cropType"
        [checkmark]="true"
        optionLabel="label"
         optionValue="value" 
        [showClear]="true"
        placeholder="Select crop type"
        class="w-full md:w-56"
        [invalid]="f['cropType'].invalid && f['cropType'].touched"
      />
      @if (f["cropType"].invalid && f["cropType"].touched) {
        <p-message severity="error" variant="simple" size="small">
          Name is required
        </p-message>
      }
    </div>

    <div class="col-12 md:col-3">
      <label for="terrainCoeff" class="block mb-2">Terrain type</label>
      <p-select
        [options]="terrainOptions"
        inputId="terrainCoeff"
        formControlName="terrainCoeff"
        [checkmark]="true"
        optionLabel="label"
        optionValue="value" 
        [showClear]="true"
        placeholder="Select terrain type"
        class="w-full md:w-56"
        [invalid]="f['terrainCoeff'].invalid && f['terrainCoeff'].touched"
      />
      @if (f["terrainCoeff"].invalid && f["terrainCoeff"].touched) {
        <p-message severity="error" variant="simple" size="small">
          Terrain type is required
        </p-message>
      }
    </div>

    <div class="col-12 md:col-3">
      <label for="shapeCoeff" class="block mb-2">Shape type</label>
      <p-select
        [options]="shapeOptions"
        inputId="shapeCoeff"
        formControlName="shapeCoeff"
        [checkmark]="true"
        optionLabel="label"
        optionValue="value" 
        [showClear]="true"
        placeholder="Select shape type"
        class="w-full md:w-56"
        [invalid]="f['shapeCoeff'].invalid && f['shapeCoeff'].touched"
      />
      @if (f["shapeCoeff"].invalid && f["shapeCoeff"].touched) {
        <p-message severity="error" variant="simple" size="small">
          Shape type is required
        </p-message>
      }
    </div>

    <div class="col-12 flex gap-2 mt-3">
      <button pButton type="submit" icon="pi pi-save" (click)="submit()" [disabled]="form.invalid">
        Save
      </button>
    </div>
  </form>
</p-card>
