@use "../../../shared/styles/card-form-styles.scss" as shared;

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f5f6fa;
  padding: 2rem;
}
@include shared.card-form-styles;
